# Compiled Object files
*.o
*.obj

# Visual Studio Code
**/.vscode/

# Executables
*.out
*.app

*.pyc
/tools/.idea/
/tools/midi_tests/node_modules

.DS_Store
*.swp
/Output

# cmake
/cmake/
/cmake-*/

# Private libraries
CustomerMngt_LibForArduino-master/
HardwareInspection_LibForArduino-master/
OtaDfu_LibForArduino-master/
# Ignore local overrides of platform.txt and boards.txt,
/boards.local.txt
/platform.local.txt
